<h3>Hello Welcome to About Me</h3>

<hr />

<div class="intro"><p>Hello, I am Justin Woodmansee. And I am learing to write programs in the ruby language. Also we are learning how to think like Devolopers. Here is the about me page</p></div>