<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  </head>
  <body>

    <a href='/'>Index</a>
    <a href='/contact'>Contact Me</a>
    <a href='/resume'>Resume</a>
    <%= yield %>
  </body>
</html>