body {
  background-color: lightgray;
}

h1, h3, h2, h4, h5, h6 {
  text-align: center;
}

p {
  text-align: center;
  text-indent: center;
}

.intro {
  display: inline-block;
  float: center;
}

a {
  display: inline-block;
  text-decoration: none;
}

form {

}

hr {
  color: white;
}

.email {
  width: 20px;
  height: 15px;
  margin-bottom: 30px;
}

.main_message {
  : 100px
}